@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Nunito+Sans:ital,wght@0,400;0,700;0,800;1,300;1,700&family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-width: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 60px;
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 800;
    margin-left: 40px;
    text-decoration: none;
}
.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .text-box{
    position: relative;
    max-width: 600px;
}
.container .text-box h2{
    color: #333;
    font-size: 4em;
    font-weight: 500px;
}
.container .text-box h2 span{
    color:#8B0000;
    font-size: 1.2em;
    font-weight: 900;
}
.container .text-box p{
    color: #333;
}
.container .text-box a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background:#8B0000;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.container .img-box{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
    margin-top: 50px;
}
.container .img-box img{
    max-width: 500px;
}
.thumb{
  position: absolute;
  left: 43%;
  bottom: 0px;
  transform: translateX(-50%);
  display: flex;
}
.thumb li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}
.thumb li:hover{
  transform: translateY(-15px);
}
.thumb li img{
  max-width: 110px;
}
.social{
    position: absolute;
    top: 60%;
    right: -20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.social li {
    list-style: none;
}
.social li a{
    display: inline-block;
    margin: -55px 0;
    transform: scale(0.3);
    filter: invert(1);
}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 101.5%;
    height: 110%;
    background: #B59410;
}